# **Assignment : Data Structure Advance**

**1. Write a code to reverse a string.**

In [ ]:
# Input string
string = "Hello, World!"

reversed_string = string[::-1]

# Display the reversed string
print("Reversed String:", reversed_string)

Reversed String: !dlroW ,olleH

**2.  Write a code to count the number of vowels in a string.**

In [ ]:
# Input string
string = "Hello, World!"

# List of vowels
vowels = "aeiouAEIOU"

# Initialize a counter
vowel_count = 0

# Loop through each character in the string
for char in string:
    if char in vowels:
        vowel_count += 1

# Display the count of vowels
print("Number of vowels:", vowel_count)

Number of vowels: 3

**3.  Write a code to check if a given string is a palindrome or not.**

In [ ]:
# Input string
string = "madam"

# Remove spaces and convert to lowercase (optional)
string = string.replace(" ", "").lower()

# Check if the string is equal to its reverse
if string == string[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

**4. Write a code to check if two given strings are anagrams of each other.**

In [ ]:
4. # Input strings
string1 = "listen"
string2 = "silent"

# Remove spaces and convert to lowercase (optional)
string1 = string1.replace(" ", "").lower()
string2 = string2.replace(" ", "").lower()

# Check if sorted versions of the strings are equal
if sorted(string1) == sorted(string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

**5.  Write a code to find all occurrences of a given substring within another string.**

In [ ]:
# Input strings
main_string = "Hello, world! Hello, everyone!"
substring = "Hello"

# Initialize an empty list to store the indices of occurrences
occurrences = []
start = 0

# Loop to find all occurrences
while True:
    start = main_string.find(substring, start)
    if start == -1:
        break
    occurrences.append(start)
    start += len(substring)  # Move past the current found substring

# Display the occurrences
print("Occurrences of substring:", occurrences)

Occurrences of substring: [0, 14]

**6. Write a code to perform basic string compression using the counts of repeated characters.**

In [ ]:
# Input string
string = "aaabbccccaa"

# Initialize variables
compressed_string = ""
count = 1

# Loop through the string
for i in range(1, len(string)):
    if string[i] == string[i - 1]:
        count += 1
    else:
        compressed_string += string[i - 1] + str(count)
        count = 1

# Add the last group of characters
compressed_string += string[-1] + str(count)

# Display the compressed string
print("Compressed String:", compressed_string)

Compressed String: a3b2c4a2

**7. Write a code to determine if a string has all unique characters.**

In [ ]:
# Input string
string = "abcdefg"

# Create an empty set to track seen characters
seen_characters = set()

# Loop through the string
for char in string:
    if char in seen_characters:
        print("The string does not have all unique characters.")
        break
    seen_characters.add(char)
else:
    print("The string has all unique characters.")

The string has all unique characters.

**8.  Write a code to convert a given string to uppercase or lowercase.**

In [ ]:
# Input string
string = "Sudhakar Pandey"

# Converting to lowercase
print(f"The lowercase of string is : {string.lower()}")

# Converting to uppercase
print(f"The uppercase of string is : {string.upper()}")

The lowercase of string is : sudhakar pandey
The uppercase of string is : SUDHAKAR PANDEY

**9. Write a code to count the number of words in a string.**

In [ ]:
# Input String
string = "Data Science"
print(f"The total count of words in '{string}'  is {len(string)}")

The total count of words in 'Data Science'  is 12

**10.  Write a code to concatenate two strings without using the + operator.**

In [ ]:
# Input Strings
string1 = "My name is "
string2 = "Sudhakar Pandey"

# concatenate both strings with + operator
concatenated_string = ''.join([string1,string2])

# Printing the output
print(f"The concatenated string is : {concatenated_string}")

The concatenated string is : My name is Sudhakar Pandey

**11. Write a code to remove all occurrences of a specific element from a list.**

In [ ]:
# Input list and element to remove
user_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2

# Use list comprehension to remove all occurrences of the element
filtered_list = [item for item in user_list if item != element_to_remove]

# Display the filtered list
print("Filtered List:", filtered_list)

Filtered List: [1, 3, 4, 5]

**12.  Implement a code to find the second largest number in a given list of integers.**

In [ ]:
# Input list of integers
numbers = [10, 20, 4, 45, 89, 99]

# Initialize variables for the largest and second largest numbers
largest = second_largest = float('-inf')

# Loop through the list
for number in numbers:
    if number > largest:
        second_largest = largest
        largest = number
    elif largest > number > second_largest:
        second_largest = number

# Check if second largest was updated
if second_largest == float('-inf'):
    print("There is no second largest number.")
else:
    print("The second largest number is:", second_largest)

The second largest number is: 89

**13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as **
**keys and their counts as values**.

In [ ]:
# Input list of elements
elements = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']

# Initialize an empty dictionary to store counts
count_dict = {}

# Loop through the list and count occurrences
for item in elements:
    if item in count_dict:
        count_dict[item] += 1
    else:
        count_dict[item] = 1

# Display the dictionary with counts
print("Element counts:", count_dict)

Element counts: {'apple': 2, 'banana': 3, 'orange': 1}

**14.  Write a code to reverse a list in-place without using any built-in** **reverse functions.**

In [ ]:
# Input list
lst = [1, 2, 3, 4, 5]

# Initialize pointers
left = 0
right = len(lst) - 1

# Reverse the list in-place
while left < right:
    # Swap the elements at the left and right pointers
    lst[left], lst[right] = lst[right], lst[left]
    # Move the pointers towards the center
    left += 1
    right -= 1

# Display the reversed list
print("Reversed List:", lst)

Reversed List: [5, 4, 3, 2, 1]

**15.  Implement a code to find and remove duplicates from a list while preserving the original order of
elements.**

In [ ]:
# Input list with potential duplicates
list1 = [1, 2, 2, 3, 4, 4, 5, 1, 6]

# Initialize an empty set to track seen elements and an empty list for results
seen = set()
unique_list1 = []

# Loop through the original list
for item in list1:
    if item not in seen:
        unique_list1.append(item)
        seen.add(item)

# Display the list with duplicates removed
print("List with duplicates removed:", unique_list1)

List with duplicates removed: [1, 2, 3, 4, 5, 6]

**16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.**

In [ ]:
# Input list
lst = [1, 2, 3, 4, 5]

# Initialize flags
ascending = True
descending = True

# Loop through the list to check sorting order
for i in range(len(lst) - 1):
    if lst[i] > lst[i + 1]:
        ascending = False
    if lst[i] < lst[i + 1]:
        descending = False

# Determine the sorting status
if ascending:
    print("The list is sorted in ascending order.")
elif descending:
    print("The list is sorted in descending order.")
else:
    print("The list is not sorted.")

The list is sorted in ascending order.

**17.  Write a code to merge two sorted lists into a single sorted list.**

In [ ]:
# Input sorted lists
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

# Initialize pointers and result list
i, j = 0, 0
merged_list = []

# Merge the lists
while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
        merged_list.append(list1[i])
        i += 1
    else:
        merged_list.append(list2[j])
        j += 1

# Append remaining elements from list1, if any
while i < len(list1):
    merged_list.append(list1[i])
    i += 1

# Append remaining elements from list2, if any
while j < len(list2):
    merged_list.append(list2[j])
    j += 1

# Display the merged list
print("Merged Sorted List:", merged_list)

Merged Sorted List: [1, 2, 3, 4, 5, 6, 7, 8]

**18. Implement a code to find the intersection of two given lists.**

In [ ]:
# Input lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Find the intersection of the two lists
intersection = [item for item in list1 if item in list2]

# Display the intersection
print("Intersection of the two lists:", intersection)

Intersection of the two lists: [4, 5]

**19.  Create a code to find the union of two lists without duplicates.**

In [ ]:
# Input lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Find the union of the two lists without duplicates
union = list(set(list1) | set(list2))

# Display the union
print("Union of the two lists:", union)

Union of the two lists: [1, 2, 3, 4, 5, 6, 7, 8]

**20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.**

In [ ]:
import random

# Input list
lst = [1, 2, 3, 4, 5]

# Get the length of the list
n = len(lst)

# Shuffle the list using the Fisher-Yates algorithm
for i in range(n - 1, 0, -1):
    # Generate a random index
    j = random.randint(0, i)
    # Swap elements at index i and j
    lst[i], lst[j] = lst[j], lst[i]

# Display the shuffled list
print("Shuffled List:", lst)

Shuffled List: [1, 3, 5, 2, 4]

**21.  Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples.**

In [ ]:
# Input tuples
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

# Find common elements
common_elements = tuple(item for item in tuple1 if item in tuple2)

# Display the resulting tuple
print("Common elements:", common_elements)

Common elements: (4, 5)

**22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets.**

In [ ]:
# Prompt the user to enter the first set of integers
input1 = input("Enter the first set of integers separated by commas: ")
# Convert the input string to a set of integers
set1 = set(map(int, input1.split(',')))

# Prompt the user to enter the second set of integers
input2 = input("Enter the second set of integers separated by commas: ")
# Convert the input string to a set of integers
set2 = set(map(int, input2.split(',')))

# Find the intersection of the two sets
intersection = set1 & set2

# Display the intersection
print("Intersection of the two sets:", intersection)

Enter the first set of integers separated by commas: 2,4,5,6
Enter the second set of integers separated by commas: 4,6,5,7,8
Intersection of the two sets: {4, 5, 6}

**23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.**

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples
    result = tuple1 + tuple2
    return result

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Call the function and print the result
concatenated_tuple = concatenate_tuples(tuple1, tuple2)
print("Concatenated Tuple:", concatenated_tuple)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

**24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set.**

In [ ]:
# Prompt the user to enter the first set of strings
input1 = input("Enter the first set of strings separated by commas: ")
# Convert the input string to a set of strings
set1 = set(input1.split(','))

# Prompt the user to enter the second set of strings
input2 = input("Enter the second set of strings separated by commas: ")
# Convert the input string to a set of strings
set2 = set(input2.split(','))

# Find the elements present in the first set but not in the second set
difference = set1 - set2

# Display the result
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings separated by commas: 2,4,5,9
Enter the second set of strings separated by commas: 5,1,3,8
Elements in the first set but not in the second set: {'2', '4', '9'}

**25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices.**

In [ ]:
def elements_in_range(tpl, start, end):
    # Ensure start and end are within bounds
    if start < 0:
        start = 0
    if end > len(tpl):
        end = len(tpl)
    if start > end:
        return tuple()  # Return an empty tuple if the range is invalid

    # Return the slice of the tuple within the specified range
    return tpl[start:end]

# Example usage
original_tuple = (10, 20, 30, 40, 50, 60)
start_index = 2
end_index = 5

# Call the function and print the result
result_tuple = elements_in_range(original_tuple, start_index, end_index)
print("Elements in the specified range:", result_tuple)

Elements in the specified range: (30, 40, 50)

**26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.**

In [ ]:
# Prompt the user to enter the first set of characters
input1 = input("Enter the first set of characters separated by commas: ")
# Convert the input string to a set of characters
set1 = set(input1.replace(" ", "").split(','))

# Prompt the user to enter the second set of characters
input2 = input("Enter the second set of characters separated by commas: ")
# Convert the input string to a set of characters
set2 = set(input2.replace(" ", "").split(','))

# Find the union of the two sets
union = set1 | set2

# Display the union
print("Union of the two sets:", union)

Enter the first set of characters separated by commas: 2,5,8,4
Enter the second set of characters separated by commas: 6,9,4,2
Union of the two sets: {'4', '8', '2', '9', '5', '6'}

**27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking.**

In [1]:
def find_max_min(t):
    # Initialize max and min with the first element of the tuple
    max_val, min_val = t[0], t[0]

    # Iterate over the tuple
    for value in t:
        if value > max_val:
            max_val = value
        if value < min_val:
            min_val = value

    # Return the values using tuple unpacking
    return max_val, min_val

# Example usage:
t = (4,5,2,1,9,7)
max_value, min_value = find_max_min(t)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 9
Minimum value: 1

**28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets.**

In [2]:
# Define two sets of integers
set1 = {1, 8, 5, 4, 3}
set2 = {5, 2, 3, 7, 9}

# Union of set1 and set2
union_set = set1 | set2  # or set1.union(set2)

# Intersection of set1 and set2
intersection_set = set1 & set2  # or set1.intersection(set2)

# Difference of set1 and set2 (elements in set1 but not in set2)
difference_set = set1 - set2  # or set1.difference(set2)

# Print the results
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (set1 - set2):", difference_set)

Union: {1, 2, 3, 4, 5, 7, 8, 9}
Intersection: {3, 5}
Difference (set1 - set2): {8, 1, 4}

**29. Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple.**

In [3]:
def count_occurrences(t, element):
    count = 0

    # Iterate over the tuple and count the occurrences of the element
    for value in t:
        if value == element:
            count += 1

    return count

# Example usage:
t = (1, 2, 3, 4, 2, 2, 5)
element = 2
result = count_occurrences(t, element)

print(f"Element {element} occurs {result} times in the tuple {t}.")

Element 2 occurs 3 times in the tuple (1, 2, 3, 4, 2, 2, 5).

**30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets.**

In [6]:
# Function to get a set of strings from user input
def input_set(prompt):
    return set(input(prompt).split(','))

# Prompt user to input two sets of strings
set1 = input_set("Enter elements of the first set (commas-separated): ")
set2 = input_set("Enter elements of the second set (commas-separated): ")

# Calculate the symmetric difference (elements in either set, but not both)
# symmetric difference returns the elements that are in either of the two sets but not in both
symmetric_difference = set1 ^ set2  # or set1.symmetric_difference(set2)

# Print the result
print("Symmetric Difference:", symmetric_difference)

Enter elements of the first set (commas-separated): sudhakar,data science,pw skills
Enter elements of the second set (commas-separated): course,data science,india
Symmetric Difference: {'course', 'sudhakar', 'india', 'pw skills'}

**31.  Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.**

In [7]:
def word_frequencies(word_list):
    frequency_dict = {}

    # Iterate through the list of words
    for word in word_list:
        # If the word is already a key in the dictionary, increment its count
        if word in frequency_dict:
            frequency_dict[word] += 1
        # Otherwise, initialize its count to 1
        else:
            frequency_dict[word] = 1

    return frequency_dict

# Example usage:
words = input("Enter a list of words (space-separated): ").split()
result = word_frequencies(words)

print("dictionary {unique word : Word frequencies} : ", result)

Enter a list of words (space-separated): sudhakar pwskills sudhakar data_science jordan data_science pwskills megha data_science
dictionary {unique word : Word frequencies} :  {'sudhakar': 2, 'pwskills': 2, 'data_science': 3, 'jordan': 1, 'megha': 1}

**32.  Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together**

In [9]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Start with a copy of dict1 to avoid modifying the original

    # Iterate through dict2 to merge with dict1
    for key, value in dict2.items():
        if key in merged_dict:
            # If the key exists in both dictionaries, add the values
            merged_dict[key] += value
        else:
            # If the key is only in dict2, add it to merged_dict
            merged_dict[key] = value

    return merged_dict

# Example usage:
dict1 = {'guava': 3, 'banana': 7, 'orange': 2}
dict2 = {'banana': 3, 'grape': 4, 'guava': 1, 'strawberry': 5}

result = merge_dictionaries(dict1, dict2)

print("Merged dictionary:", result)

Merged dictionary: {'guava': 4, 'banana': 10, 'orange': 2, 'grape': 4, 'strawberry': 5}

**33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None.**

In [11]:
def get_nested_value(d, keys):
    current_value = d

    # Iterate through the list of keys
    for key in keys:
        if key in current_value:
            current_value = current_value[key]  # Update current_value to the next level
        else:
            return None  # If the key does not exist, return None

    return current_value  # Return the value at the last key

# Example usage:
nested_dict = {
    'ant': {
        'ball': {
            'cat': 25
        }
    },
    'biryani': {
        'price': 299
    }
}

keys = ['ant', 'ball', 'cat']  # Path to access the value 42
result = get_nested_value(nested_dict, keys)

print("Value:", result)

Value: 25

**34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order.**

In [12]:
def sort_dict_by_values(d, ascending=True):
    # Sort the dictionary by its values
    sorted_dict = dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))

    ''' d.items() returns the dictionary items as (key, value) pairs.
        key=lambda item: item[1] tells sorted() to sort by the second element (the value) in each tuple.
        The reverse=not ascending argument allows toggling between ascending (True) and descending (False) sorting.'''

    return sorted_dict

# Example usage:
input_dict = {'student': 245, 'male': 145, 'female': 100, 'no_of_courses': 21}

# Sort in ascending order
sorted_dict_asc = sort_dict_by_values(input_dict, ascending=True)
print("Sorted dictionary (ascending):", sorted_dict_asc)

# Sort in descending order
sorted_dict_desc = sort_dict_by_values(input_dict, ascending=False)
print("Sorted dictionary (descending):", sorted_dict_desc)

Sorted dictionary (ascending): {'no_of_courses': 21, 'female': 100, 'male': 145, 'student': 245}
Sorted dictionary (descending): {'student': 245, 'male': 145, 'female': 100, 'no_of_courses': 21}

**35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.**

In [16]:
# defining a dictionary :
original_dict = {'apple': 'fruit', 'carrot': 'vegetable', 'banana': 'fruit', 'broccoli': 'vegetable'}

inverted_dict = {}

# Iterate through the original dictionary
for key, value in original_dict.items():
    if value in inverted_dict:
        # If the value is already a key in inverted_dict, append the current key to the list
        inverted_dict[value].append(key)
    else:
        # If the value is not in inverted_dict, create a new entry with the current key
        inverted_dict[value] = [key]

print("Inverted dictionary:", inverted_dict)

Inverted dictionary: {'fruit': ['apple', 'banana'], 'vegetable': ['carrot', 'broccoli']}